.filter {
  width: 200px;
  background-color: @color-gray-light;
}

.filter__block {
  padding-top: 12px;
  padding-bottom: 44px;
  border-top: 2px solid @color-black;
  width: 100%;
}

.filter__title {
  margin: 0;
}

.filter__subtitle {
  .subtitle();
  margin-bottom: 28px;
}

.filter__button {
  width: 100%;
}
