.footer {
  &__description {
    .text-white ();
    font-size: 16px;
    line-height: 19px;
  }

  &__link {
    .text-white ();
    text-decoration: none;
  }

  &__tel {
    .text-white ();
    font-size: 16px;
    line-height: 30px;
    text-align: right;
  }
}
