.service {
  width: 845px;
  min-height: 195px;
  padding-top: 62px;
  padding-right: 254px;
  padding-bottom: 62px;
  padding-left: 116px;
  background-repeat: no-repeat;
  background-position: right;
}

.service__first {
  background-image: url("../../img/service1.png");
}

.service__second {
  background-image: url("../../img/service2.png");
}

.service__third {
  background-image: url("../../img/service3.png");
}

.service__title {
  padding-bottom: 34px;
}
