.service {
  width: 845px;
  min-height: 195px;
  padding: 62px 254px 62px 116px;
  background-repeat: no-repeat;
  background-position: right;
  background-image: url("../../img/delivery.png");

  &--guarantee {
    background-image: url("../../img/guarantee.png");
  }

  &--credit {
    background-image: url("../../img/credit.png");
  }
}

.service__title {
  margin-bottom: 32px;
}
