.slide__number {
  .text-white();
  font-size: 180px;
  line-height: 30px;
  font-weight: 800;
}

.slide__table-th {
  font-size: 36px;
  line-height: 30px;
}

.slide__table-td {
  font-size: 16px;
}
